<!-- MAKE SURE TO RENAME THIS FILE TO le.config IF YOU WANT TO USE THIS EXAMPLE -->
<?xml version="1.0" encoding="utf-8"?>
<LEConfig>
  <Profiles>
    <Profile Name="le.config" Guid="" MainMenu="false">
      <Parameter>Game.exe</Parameter>
      <Location>zh-CN</Location>
      <Timezone>China Standard Time</Timezone>
      <RunAsAdmin>false</RunAsAdmin>
      <RedirectRegistry>true</RedirectRegistry>
      <IsAdvancedRedirection>true</IsAdvancedRedirection>
      <RunWithSuspend>false</RunWithSuspend>
    </Profile>
  </Profiles>
</LEConfig>