<!-- MAKE SURE TO RENAME THIS FILE TO le.config IF YOU WANT TO USE THIS EXAMPLE -->
<?xml version="1.0" encoding="utf-8"?>
<LEConfig>
  <Profiles>
    <Profile Name="le.config" Guid="" MainMenu="false">
      <Parameter>Replace with relative path to target exe (e.g. Game.exe or SomeFolder\start.exe). This can include JP/CN characters</Parameter>
      <Location>Replace with appropriate localization code (e.g. ja-JP or zh-CN)</Location>
      <Timezone>Replace with appropriate timezone (e.g. Tokyo Standard Time or China Standard Time)</Timezone>
      <RunAsAdmin>false</RunAsAdmin>
      <RedirectRegistry>true</RedirectRegistry>
      <IsAdvancedRedirection>true</IsAdvancedRedirection>
      <RunWithSuspend>false</RunWithSuspend>
    </Profile>
  </Profiles>
</LEConfig>